.add-wallet-fab {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 10;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

mat-panel-description {
  justify-content: space-between;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
