name: Deploy to DockerHub

on:
  workflow_run:
    workflows: [Test]
    types: [completed]
    branches: [main]

permissions:
  actions: read
  contents: read

env:
  NX_CLOUD_AUTH_TOKEN: ${{ secrets.NX_CLOUD_AUTH_TOKEN }}
  IMAGE_TAG: 'sha-${{ github.sha }}'

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment: DockerHub
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v3
        with:
          version: '9'
      - uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - run: pnpm i --frozen-lockfile
      - uses: nrwl/nx-set-shas@v3
      - name: Docker - Set up Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker - Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Docker - Build and push image
        run: |
          npx nx affected -t image -c=all --output=--push --v='${{ env.IMAGE_TAG }}' --cache-from=type=gha --cache-to=type=gha,mode=max
          npx nx affected -t image -c=all --output=--push --v=latest --cache-from=type=gha --cache-to=type=gha,mode=max
