<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Checking interval</mat-label>
    <select matNativeControl formControlName="checkingInterval">
      <option [value]="CheckingInterval.OnceIn6Hours">Every 6 hours</option>
      <option [value]="CheckingInterval.OnceIn12Hours">Every 12 hours</option>
      <option [value]="CheckingInterval.OnceIn24Hours">Every 24 hours</option>
      <option [value]="CheckingInterval.OnceAWeek">Once a week</option>
      <option [value]="CheckingInterval.OnceAMonth">Once a month</option>
    </select>
    <mat-icon matSuffix>schedule</mat-icon>
  </mat-form-field>
</form>
